.recommended {
  &__panel {
    grid-area: recommended;
  }

  &__list {
    display: flex;
    overflow-x: auto;

    @include fader-vertical;
  }

  &__item {
    min-width: 200px;
    flex: 1 0 20%;
    margin-right: 15px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;

    &:last-of-type {
      margin-right: 0px;
    }

    &-image {
      border-radius: var(--card-border-radius);
      overflow: hidden;

      a {
        display: block;
        width: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      margin-top: 4px;
    }
  }
}