.site-navigation {
  background-color: var(--bg-dark);
  color: var(--secondary-text);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
}

.site-logo {
  font-family: 'Poiret One', cursive;
  font-weight: normal;
  font-size: 4em;
  letter-spacing: 4px;
  margin-right: 22px;
}

.navigation {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: 22px;
    font-weight: 600;
  }
}

/* Search Form */

.search {
  &-container {
    height: 44px;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
  }

  &__icon {
    background-image: url('../assets/search.svg');
    background-size: 12px;
    background-position: left center;
    background-repeat: no-repeat;
  }
}

.search_form_wrapper {
  padding: 0 40px;
  height: 100%;
}

.search-form {
  height: 100%;
}

.form-container {
  padding: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: var(--card-border-radius);
  overflow: hidden;

  background-image: url('../assets/search.svg');
  background-size: 20px;
  background-position: left center;
  background-repeat: no-repeat;
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1em;
  font-style: italic;
  color: #acacac;
}

.search-input:focus,
.search-button:focus {
  outline: none;
}

/* Popup search results container */

.search-results {
  &-container {
    position: absolute;
    top: 113px;
    left: -15px;
    padding-bottom: 20px;
    width: 100vw;
    background-color: #fdfdfd;
    z-index: 2000;

    &.hidden {
      display: none;
    }
  }

  &__item {
    border-bottom: 1px solid var(--light-grey);
    padding: 4px 0;
    font-size: 1em;
    color: rgb(33, 37, 41);
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease;
    cursor: pointer;

    &:hover {
      // color: rgb(22, 24, 27);
      color: #000;
      background-color: #f2f2f2;
    }
  }
  &__icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 6px;
  }
}

.item_wrapper {
  max-width: 1300px;
  width: 100vw;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
}
