.site-navigation {
  background-color: var(--bg-dark);
  color: var(--secondary-text);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
}

.site-logo {
  margin-right: 22px;
  font-size: 1.5;
}

.navigation {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: 22px;
    font-weight: 600;
  }
}

/* Search Form */

.form-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.search-input {
  padding: 8px;
  border: none;
  font-size: 16px;
}

.search-input:focus,
.search-button:focus {
  outline: none;
}

.search-button {
  border: none;
  background-color: transparent;
  color: var(--primary-icon);
  padding: 8px;
  font-size: 16px;

  .svg-icon {
    width: 1em;
    height: 1em;
  }

  .svg-icon path {
    fill: var(--primary-icon);
  }
}