@import 'siteHeader';
@import 'section';
@import 'pageHeader';

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: #345987;
  --primary-text: #050505;
  --secondary-text: #f1f1f1;
  --primary-icon: #7e7e7e;
}

body {
  font-family: $font-primary;
}

h1,
h2,
h3 {
  font-family: $font-secondary;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content_wrapper {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

.main-content {
  width: 100%;
  flex-grow: 1;
  background-color: #fdfdfd;

  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

.site-footer {
  background-color: var(--bg-dark);
  padding: 20px 0;
  color: var(--secondary-text);
}

/* Search Form */

.form-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.search-input {
  padding: 8px;
  border: none;
  font-size: 16px;
}

.search-input:focus,
.search-button:focus {
  outline: none;
}

.search-button {
  border: none;
  background-color: transparent;
  color: var(--primary-icon);
  padding: 8px;
  font-size: 16px;

  .svg-icon {
    width: 1em;
    height: 1em;
  }

  .svg-icon path {
    fill: var(--primary-icon);
  }
}

/* -----
SVG Icons - svgicons.sparkk.fr SET #1
----- */

// .svg-icon {
//   width: 1em;
//   height: 1em;
// }

// .svg-icon path,
// .svg-icon polygon,
// .svg-icon rect {
//   fill: var(--primary-icon);
// }

// .svg-icon circle {
//   stroke: var(--primary-icon);
//   stroke-width: 1;
// }

/* -----
SVG Icons - END
----- */

/* api-provider-logo */

.api-provider {
  display: flex;
  flex-direction: column;
}

.api-provider-logo img {
  display: block;
  width: 100px;
}

.text-overview {
  font-size: 1em; // 0.9em?
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}